<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/Semantic-UI-CSS-master/semantic.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/Semantic-UI-CSS-master/components/checkbox.min.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <script src="js/plugins/jquery/jquery-2.2.0.min.js"></script>
    <script src="js/plugins/d3/d3.v3.min.js"></script>
    <script src="js/plugins/socket.io/socket.io.js"></script>
    <script src="css/Semantic-UI-CSS-master/semantic.js"></script>

    <script src="js/plugins/vue/vue.js"></script>
    <script src="js/plugins/jspdf/jspdf_1.3.5.js"></script>
    <script src="js/client_app.js"></script>
    <script src="js/modules/io_app.js"></script>
    <script src="js/modules/tree_app.js"></script>
    <script src="js/modules/vue_app.js"></script>
    <script src="js/graph/graph.js"></script>
    <script src="js/home.js"></script>

</head>

<body>

    <div id="Framework" class="ui equal width center padded grid" style="height:100%">
        <div class="row">
            <div class="one column">
                <div class="ui segment">
                    <span><img src="img/kaos-v.1.0.svg" style="position:absolute;top:0px;" /></span>
                    <div class="ui pointing secondary menu">
                        <a class="item" data-tab="primero">BORME</a>
                        <a class="active item" data-tab="segundo">BOE</a>

                        <a class="item" data-tab="tercero">BOCM</a>
                        <a class="item" data-tab="cuarto">RELACIONES</a>
                        <span class="info">
                            <div><span>{{SUMARIOS.length>0?SUMARIOS[0].BOE.SUMARIO_LAST:''}}/{{TBOE[0]}}</span></div>
                            <div><span>{{SUMARIOS.length>0?SUMARIOS[0].BORME.SUMARIO_LAST:''}}/{{TBORME[0]}}</span></div>
                            <div><span>{{SUMARIOS.length>0?SUMARIOS[0].BOCM.SUMARIO_LAST:''}}/{{TBOCM[0]}}</span></div>
                            <div><span>RELACIONES:</span><span>{{visual_cif.total.Directivo[0]}}/{{visual_cif.total.Empresa[0]}}</span></div>
                        </span>
                        
                    </div>
                    <div class="ui tab segment" data-tab="primero">
                        <div>
                            <div class="ui action input">
                                <input id="Find_BORME" type="text" placeholder="Buscar Empresas en BORME" />
                                <button class="ui icon button COUNT BORME"><i class="search icon"></i></button>
                                <button class="ui icon button PLAY BORME"><i class="play icon"></i></button>
                            </div>
                            <div class="ui teal label BORME">0</div>
                            <span id="BORME-check" style="float:left;width:80px;" class="ui fitted toggle checkbox">
                                <div style="font-size:0.7em">Busca en texto</div>
                                <input type="checkbox">
                            </span>
                            <div class="ui action input" style="float:right">
                                <input v-if="ANYOS.BORME.length>0" id="Find_BORME_TEXT" type="text" v-on:keyup="setTextBORMESearch($event)" placeholder="Busca en TEXTO BORME..." />
                            </div>
                        </div>
                        <div class="ui top attached tabular menu">
                            <a class="item" data-tab="primero/a">Resultados</a>
                            <a class="item" data-tab="primero/b">Documentos</a>
                        </div>

                        <div class="ui bottom attached tab segment" data-tab="primero/a">
                            <div class="ui form">
                                <div class="inline fields">
                                    <input type="checkbox" name="tanyos" checked="" data="anyos" style="width:20px;">
                                    <label>Años</label>
                                    <div v-for="(anyo,i) in ANYOS.BORME" class="field">
                                        <div v-anyo class="ui checkbox checked">
                                            <input type="checkbox" name="anyos" checked="" v-bind:data="anyo" class="BORME">
                                            <label>{{anyo}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui middle aligned divided list">
                                <div v-for="(i,u) in BORME" v-if="isInAnyo('BORME',i.BORME) && isFindInText(i.TEXTO)" class="item">
                                    <div v-if="isInAnyo('BORME',i.BORME)" class="right floated content">
                                        <div class="ui button BOE" v-on:click="goDoc('BORME',$event)" v-bind:data="set(i.BORME)" v-bind:data-id="set(i.borme_Id)">{{i.BORME}}</div>
                                    </div>
                                    <i v-if="isInAnyo('BORME',i.BORME)" class="large icon newspaper"></i>

                                    <div v-if="isInAnyo('BORME',i.BORME)" class="content">
                                        <span><span v-for="(s, e) in parsedMsg(i._strings, search.BORME)" v-bind:class="getClass(e,'highlight')">{{s}}</span></span>
                                        <div style="font-size:0.8em;color:gray">
                                            <span>
                                                <span v-for="(s, e) in parsedMsg( i.TEXTO , SELECT_BORME_TEXT)" v-bind:class="getClass(e,'highlightgreen')">{{s}}</span>.....
                                            </span>
                                            <span style="float:right;font-size:0.8em">{{u}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="primero/b">
                            <div class="ui top attached tabular menu">
                                <a class="active item" data-tab="primero/b/TEXTO">TEXTO</a>
                                <a class="item" data-tab="primero/b/PDF">PDF</a>
                            </div>
                            <div class="ui bottom attached tab segment" data-tab="primero/b/TEXTO">
                                <div class="_SearchContent">
                                    <div class="ui middle aligned divided list">
                                        <div v-for="b in BORMEFILE" class="content">
                                            <div>BOE:{{b.BORME}}</div>
                                            <div>PDF:{{b.PDF}}</div>
                                            <div v-bind:data="b.BORME" class="ui segment BORME">
                                                <span>
                                                    <span v-for="(s, e) in parsedMsg(b.TEXTO, SELECT_BORME_TEXT)" v-bind:class="getClass(e,'highlightgreen')">{{s}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui bottom attached tab segment" data-tab="primero/b/PDF">
                                <iframe id="bormepdf" src="" style="width:100%;height:1024px;" frameBorder="0"></iframe>
                            </div>
                        </div>
                       

                    </div>
                    <div class="ui active tab segment" data-tab="segundo">
                        <div>
                            <div class="ui action input">
                                <input id="Find_BOE" type="text" placeholder="Busca Contratista en BOE..." />
                                <button class="ui icon button GO BOE"><i class="search icon"></i></button>
                            </div>
                            <div class="ui teal label BOE" >0</div>
                        </div>
                        <div class="ui top attached tabular menu">
                            <a class="active item" data-tab="segundo/a">Tipos</a>
                            <a class="item" data-tab="segundo/b">Resultados</a>
                            <a class="item" data-tab="segundo/c">Documento</a>
                        </div>
                        <div class="ui bottom attached active tab segment" data-tab="segundo/a">
                            <div class="ui two column grid">
                                <div class="column">
                                    <div v-checkboxboe class="ui checkbox TBoe">
                                        <input type="checkbox" name="TswBoe" class="hidden" >
                                    </div>
                                    <h4 class="ui horizontal divider header" >
                                        <i class="legal icon"></i>
                                        Tipos de Adjudicación
                                    </h4>
                                    <div v-for="TBoe in LTIPOBOE" class="item">
                                        <div v-checkboxboe class="ui checkbox TBoe" v-bind:data="TBoe.descripcion" v-bind:data-code="TBoe.code">
                                            <input type="checkbox" name="TipoBoe" class="hidden" >
                                            <label>{{ TBoe.descripcion }}</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="column">
                                    <div v-checkboxboe class="ui checkbox TBoe">
                                        <input type="checkbox" name="TswBoe" class="hidden" >
                                    </div>
                                    <h4 class="ui horizontal divider header" >
                                        <i class="handshake icon"></i>
                                        Tipo de Tramitación
                                    </h4>
                                    <div v-for="TBoe in LTRAMITACION" class="item">
                                        <div v-checkboxboe class="ui checkbox Tramitacion" v-bind:data="TBoe.descripcion"  v-bind:data-code="TBoe.code">
                                            <input type="checkbox" name="Tramitacion" class="hidden" >
                                            <label>{{ TBoe.descripcion }}</label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="segundo/b">
                            <div class="ui form">
                                <div class="inline fields">
                                    <input type="checkbox" name="tanyos" checked="" data="anyos" style="width:20px;">
                                    <label>Años</label>
                                    <div v-for="(anyo,i) in ANYOS.BOE" class="field">
                                        <div v-anyo class="ui checkbox checked">
                                            <input type="checkbox" name="anyos" checked="" v-bind:data="anyo" class="BOE">
                                            <label style="font-size:0.8em;">{{anyo}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui middle aligned divided list">
                                <div v-for="i in BOE" v-if="isInAnyo('BOE',i.BOE)" class="item">
                                    <div v-if="isInAnyo('BOE',i.BOE)" class="right floated content">
                                        <div class="ui button GO BOE DOCButton" v-on:click="goDoc('BOE', $event)" v-bind:datapdf="set(i.PDF)" v-bind:data="set(i.BOE)" v-bind:data-id="set(i.BOE)">{{i.BOE}}</div>
                                    </div>
                                    <i v-if="isInAnyo('BOE',i.BOE)"></i>
                                    <div v-if="isInAnyo('BOE',i.BOE)" class="content">
                                        
                                        <div style="font-size:0.7em "><span style="color:goldenrod">{{i.Tipo_BOE}}</span>/<span v-bind:class="set(Tipo_TRAMITE.indexOf(i.Tipo_TRAMITE)>-1?'red':'green')">{{i.Tipo_TRAMITE}}</span></div>
                                        <div style="font-size:0.8em;font-weight:bold;">{{i.adjudicador}}<span style="float:right;font-size:0.8em;color:dimgrey">{{i.ambito_geografico}}</span></div>
                                        <span><span v-for="(s, e) in parsedMsg(i._keys, search.BOE)" v-bind:class="getClass(e,'highlight')">{{s}}</span></span>
                                        <div style="font-size:0.8em;color:gray">{{i.Importes}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="segundo/c">
                            <div class="ui top attached tabular menu">
                                <a class="active item" data-tab="segundo/c/TEXTO">TEXTO</a>
                                <a class="item" data-tab="segundo/c/PDF">PDF</a>
                            </div>

                            <div class="ui bottom attached tab segment" data-tab="segundo/c/TEXTO">
                                <div class="_SearchContent">
                                    <div class="ui middle aligned divided list">
                                        <div v-for="b in BOEFILE" class="content">
                                            <div>BOE:{{b.BOE}}</div>
                                            <div v-bind:data="b.BOE" class="ui segment BOE">
                                                <div class="ui list">
                                                    <div v-for="(boe,i) in BOETEXT">
                                                        <span v-if="boe!=null">{{boe.text}}</span>
                                                        <div v-if="boe!=null" class="ui list">
                                                            <div v-for="(linea,l) in boe.subitems">
                                                                <span><span>{{linea.key}}</span>:<span v-bind:class="set(linea.key.indexOf('Contratista')>0?'red megrilla':'negrilla')" v-for="(s, e) in parsedMsg(linea.text, search.BOE)" v-bind:class="getClass(e,'highlight')">{{s}}</span></span>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>



                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui bottom attached tab segment" data-tab="segundo/c/PDF">
                                <iframe id="boepdf" src="" style="width:100%;height:1024px;" frameBorder="0"></iframe>
                            </div>
                        </div>
                       
                    </div>

                    <div class="ui tab segment" data-tab="tercero">
                        <div>
                            <div class="ui action input">
                                <input id="Find_BOCM" type="text" placeholder="Busca Contratista en BOCM..." />
                                <button class="ui icon button GO BOCM"><i class="search icon"></i></button>
                            </div>
                            <div class="ui teal label BOCM">0</div>
                        </div>
                        <div class="ui top attached tabular menu">
                            <a class="item" data-tab="tercero/a">Tipos</a>
                            <a class="item" data-tab="tercero/b">Resultados</a>
                            <a class="item" data-tab="tercero/c">PDF</a>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="tercero/a">
                            <div class="ui two column grid">
                                <div class="column">
                                    <div v-checkboxbocm class="ui checked checkbox TBocm">
                                        <input type="checkbox" name="TswBocm" class="hidden" checked="">
                                    </div>
                                    <h4 class="ui horizontal divider header">
                                        <i class="handshake icon"></i>
                                        Tipo de Tramitación
                                    </h4>
                                    <div v-for="TBocm in LTIPOBOCM" class="item">
                                        <div v-checkboxbocm class="ui checked checkbox TipoBocm" v-bind:data="TBocm.descripcion" v-bind:data-code="TBocm.code">
                                            <input type="checkbox" name="TBocm" class="hidden">
                                            <label>{{ TBocm.descripcion }}</label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="tercero/b">
                            <div class="ui form">
                                <div class="inline fields">
                                    <input type="checkbox" name="tanyos" checked="" data="anyos" style="width:20px;">
                                    <label>Años</label>
                                    <div v-for="(anyo,i) in ANYOS.BOCM" class="field">
                                        <div v-anyo class="ui checkbox checked">
                                            <input type="checkbox" name="anyos" checked="" v-bind:data="anyo" class="BOCM">
                                            <label>{{anyo}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui middle aligned divided list">
                                <div v-for="i in BOCM" v-if="isInAnyo('BOCM',i.BOCM)" class="item">
                                    <div v-if="isInAnyo('BOCM',i.BOCM)" class="right floated content">
                                        <div class="ui button GO BOCM DOCButton" v-on:click="goDoc('BOCM', $event)" v-bind:data="set(i.PDF)">{{i.BOCM}}</div>
                                    </div>
                                    <i v-if="isInAnyo('BOCM',i.BOCM)"></i>
                                    <div v-if="isInAnyo('BOCM',i.BOCM)" class="content">

                                        <div style="font-size:0.7em "><span v-bind:class="set(Tipo_TRAMITE.indexOf(i.Tipo_TRAMITE)>-1?'red':'green')">{{i.Tipo_TRAMITE}}</span><span style="font-size:0.9em;color:gray;float:right">{{numberWithCommas(i.Importes)}} €</span></div>
                                        <span><span v-for="(s, e) in parsedMsg(i._keys, search.BOCM)" v-bind:class="getClass(e,'highlight')">{{s}}</span></span>
                                        <div style="font-size:0.8em;color:gray">{{i.TEXTO}}</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="tercero/c">
                            <iframe id="bocmdpf" src="" style="width:100%;height:1024px;" frameBorder="0"></iframe>
                        </div>
                    </div>
                    <div class="ui tab segment" data-tab="cuarto">
                        <div>
                            <div class="ui action input">
                                <input id="visualId" type="text" placeholder="Empresa o Directivo" v-on:keyup="visualcif($event).search()" v-on:focus="visualcif($event).focus(true)">
                                <button class="ui button disabled save" v-on:click="visualcif($event).save($event)">
                                    <i class="save icon"></i>
                                </button>
                                <button class="ui button disabled play" v-on:click="visualcif($event).go()">
                                    <i class="play icon"></i>
                                </button>
                                <div id="visual-check" style="float:right;margin-left:10px;width:100px;" class="ui fitted toggle checkbox">
                                    <input type="checkbox">
                                    <div style="font-size:0.8em">Limpiar ruta</div>
                                </div>
                                <button class="ui button" v-on:click="visualcif($event).popUp()">
                                    <i class="zoom out icon" style="font-size:1.5em;padding-top:3px;padding-left:15px;"></i>
                                </button>
                            </div>
                            <div class="spinTree" style="visibility:hidden"><span><span class="spinTree_c">cargando </span><span class="spinTree_a"></span></span></div>
                        </div>
                        <div class="inline fields" style="padding-left:270px;float:left">
                            <div class="field hidden">
                                <div class="ui radio checkbox">
                                    <input id="Empresa" type="radio" name="fruit" checked="" tabindex="0" class="hidden">
                                    <label>Empresa</label>
                                </div>
                            </div>
                            <div class="field hidden">
                                <div class="ui radio checkbox">
                                    <input id="Persona" type="radio" name="fruit" tabindex="0" class="hidden">
                                    <label>Persona</label>
                                </div>
                            </div>
                            <div class="field hidden">
                                <div class="ui radio checkbox">
                                    <input id="Directivo" type="radio" name="fruit" tabindex="0" class="hidden">
                                    <label>Directivo</label>
                                </div>
                            </div>                                   
                        </div>

                            <div class="ui segment mini hidden" id="lst-VisualCif" v-on:mouseleave="visualcif($event).focus(false)">
                                <div class="ui list">
                                    <div v-for="lst in visual_cif._list" v-bind:style="Sospechoso(lst)" class="item" v-on:click="visualcif($event).select(lst)" v-bind:data="replacene( lst.val)" v-bind:data-key="set(lst.ID)" v-bind:data-type="set(lst.type)" v-bind:data-relations="set(lst.ActiveRelations)" v-bind:data-boe="set(lst.BOE)"  v-bind:data-bocm="set(lst.BOCM)" v-bind:data-url="set(lst.link)">
                                        <span v-if="lst.BOE>0 || lst.BOCM>0" style="float:right">BOE:{{lst.BOE}}/BOCM:{{lst.BOCM}}</span>
                                        <i v-bind:class="set(lst.type=='Empresa'?'industry icon':'user icon')"></i>
                                        <div v-html="lst.val + ' (' + lst.type + ')'" class="content"></div>

                                    </div>
                                </div>
                            </div>

                        <div class="ui top attached tabular menu">
                            <a class="item" data-tab="cuarto/a" data-pos="0">Buscar.....</a>
                            <a class="item" data-tab="cuarto/b" data-pos="1">Grafico</a>
                            <a class="item" data-tab="cuarto/c" data-pos="2">Ranking Directivos</a>
                            <a class="item" data-tab="cuarto/d" data-pos="3">Ranking Empresas</a>
                            <a class="item" data-tab="cuarto/e" data-pos="4">Tramas</a>

                        </div>
                        <div class="ui bottom attached tab segment" style="background-color: white;" data-tab="cuarto/a">
                            <div class="ui container" style="padding:10px">
                                <div class="ui one column grid">
                                    <div class="column">
                                        <div id="RelationsCard">
                                            <h1 class="ui header titTrama">
                                                Entramado
                                            </h1>
                                            <div class="content" style="height:650px;">
                                                <div class="ui list visual_cif">
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment"  style="background-color: white;" data-tab="cuarto/b">
                            <div id="graph_container" class="body-content">

                                <svg id="relations">
                                    <title></title>
                                    <desc>Este mapa interactivo permite visualizar las relaciones entre empresas y cargos directivos.</desc>
                                </svg>

                                <div id="ui" class="hidden">
                                    <div id="topleft">
                                        <h1>Diagrama <br />de relaciones</h1>
                                        <a id="showhelp">Ayuda</a>
                                        <div id="help" class="overlay">
                                            <div id="content">
                                                <span id="closehelp" class="glyphicon glyphicon-remove">X</span>
                                                <ul>
                                                    <li>Click en un círculo de empresa o directivo para cargar sus relaciones.</li>
                                                    <li>Al arrastrar un círculo su posición se queda anclada en el diagrama. Doble click para liberarlo.</li>
                                                    <li>Click sobre un nombre de empresa o directivo lo abre en otra ventana.</li>
                                                    <li>Al arrastrar sobre el fondo, se mueve todo el diagrama.</li>
                                                    <li>Al mover el ratón sobre un enlace aparecen los cargos.</li>
                                                </ul>
                                                <svg>
                                                    <circle cx="12" cy="20" r="7" class="node company"></circle>
                                                    <text x="30" y="24">Empresas</text>
                                                    <circle cx="12" cy="40" r="7" class="node person"></circle>
                                                    <text x="30" y="44">Directivos</text>
                                                    <circle cx="12" cy="60" r="7" class="node person juridic"></circle>
                                                    <text x="30" y="64">Directivos (personas jurídicas)</text>
                                                    <line x1="3" x2="22" y1="80" y2="80" class="link activelink"></line>
                                                    <text x="30" y="84">Cargos activos</text>
                                                    <line x1="3" x2="22" y1="100" y2="100" class="link inactivelink"></line>
                                                    <text x="30" y="104">Cargos no activos</text>
                                                    <circle cx="12" cy="120" r="7" class="node fixed"></circle>
                                                    <text x="30" y="124">Elemento anclado</text>
                                                    <circle cx="12" cy="140" r="6" class="nodenumrelsback"></circle>
                                                    <text x="30" y="144">Número de relaciones</text>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="topright">
                                        <button id="options" title="Abrir o cerrar el panel de opciones" class="ui-button ui-widget ui-corner-all pull-right"><span class="glyphicon glyphicon-cog"></span></button>
                                        <div id="uilargeoptions" class="overlay">
                                            <h2>Opciones:</h2>
                                            <p><a id="pin"><span class="glyphicon glyphicon-pushpin"></span>Desanclar todos los nodos</a></p>
                                            <p><a id="permalink"><span class="glyphicon glyphicon-link"></span>Link a este diagrama</a></p>
                                            <div id="permalinkbox">
                                                <input value="" />
                                                <span class="glyphicon glyphicon-remove" onclick="$('#permalinkbox').hide();" style="cursor: pointer"></span>
                                            </div>
                                            <p><a id="saveimage" class=""><span class="glyphicon glyphicon-save"></span>Guardar imagen del diagrama</a></p>
                                            <p><a id="reset" class="disabled"><span class="glyphicon glyphicon-erase"></span>Reset</a></p>
                                        </div>
                                    </div>
                                    <div id="bottomleft">
                                        <div id="linkroles">
                                            <p class="roles"></p>
                                        </div>
                                        <div id="uierror">
                                            <p class="grapherror"></p>
                                        </div>
                                    </div>
                                    <div id="bottomright">
                                        <button id="zoomin" title="Zoom: más grande" class="ui-button ui-widget ui-corner-all"><span class="glyphicon glyphicon-zoom-in"></span></button>
                                        <button id="zoomout" title="Zoom: más pequeño" class="ui-button ui-widget ui-corner-all"><span class="glyphicon glyphicon-zoom-out"></span></button>
                                        <button id="fullscreen" title="Pantalla completa" class="ui-button ui-widget ui-corner-all"><span class="glyphicon glyphicon-fullscreen"></span></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" style="background-color: white;" data-tab="cuarto/c">
                            <div class="ui two column grid">
                                <div class="column">
                                    <h4 class="ui horizontal divider header" >
                                        <i class="user icon"></i>
                                        Directivos ({{visual_cif._Ranking.Directivos.length}})
                                    </h4>
                                    <div class="ui middle aligned divided list">
                                        <div v-for="i in visual_cif._Ranking.Directivos" v-show="( (visual_cif.Puertas.hidden[0]==0 || i.mark >0) && i.JuridicId==0 && visualcif().isInList(i.Name,visual_cif._Search[0], 'cuarto/c')) || visual_cif._Ranking.Directivos.length == 1 " class="item">
                                            
                                            <div class="right floated content" v-bind:data-key="set(i.Id)" v-bind:data-title="set(i.Name)" v-on:click="visualcif($event).getEntramado()">
                                                <div class="ui button">{{i.ActiveRelations}}</div>
                                            </div>
                                            <span style="float:left;margin:10px;" class="ui fitted toggle checkbox visual-mark" v-bind:data-check="set(i.Mark==null?'':i.Mark*1>0?'checked':'')">
                                                <input v-on:click="visualcif($event).ranking(0)" type="checkbox" v-bind:checked="set(i.Mark==null?'':i.Mark*1>0?'checked':'')" v-bind:data-key="set(i.Id)">
                                                <label></label>
                                            </span>
                                            <div class="content">
                                                <span>{{i.Name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui mini segment visual-empresas">
                                        <div v-for="i in visual_cif.Puertas.Entramado" class="item">
                                            <div class="content">
                                                <span>
                                                    <span v-if="i.BOE>0" style="float:right;color:blue">BOE:{{i.BOE}}</span>
                                                    <span v-bind:style="set(i.Active==0?'color:grey':'')">{{i.Name}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="ui bottom attached tab segment" data-tab="cuarto/d">
                            <div class="ui two column grid">
                                <div class="column">
                                    <h4 class="ui horizontal divider header">
                                        <i class="industry icon"></i>
                                        TOP 100 <div class="ui buttons">
                                                    <button class="ui button teal active TLIST" data="0">BOE</button>
                                                    <div class="or" data-text="o"></div>
                                                    <button class="ui button active TLIST" data="1">BOCM</button>
                                                </div>
                                    </h4>
                                    <div class="ui middle aligned divided list">
                                        <div v-for="i in visual_cif._Ranking.Empresas.tipo[0]==0? visual_cif._Ranking.Empresas.BOE : visual_cif._Ranking.Empresas.BOCM"  v-show="visualcif().isInList(i.Name,visual_cif._Search[0], 'cuarto/d')" class="item">
                                            <div>
                                                <div class="right floated content" v-bind:data-key="set(i.Id)" v-bind:data-title="set(i.Name)">
                                                    <div class="ui button">{{ visual_cif._Ranking.Empresas.tipo[0]==0?i.nBOE:i.nBOCM }}</div>
                                                </div>
                                                <div class="content">
                                                    <span>{{i.Name}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">

                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="cuarto/e">
                            <div class="ui two column grid">
                                <div class="column">
                                    <div class="ui segment" style="height:650px;">
                                        <div class="ui middle aligned divided list">
                                            <div v-for="t in visual_cif._TRAMAS" class="item">
                                                <div class="right floated content">
                                                    <div class="ui button GO TRAMAS"><i class="ui icon list" v-bind:data="set(t.idTrama)" v-on:click="goTrama($event)"></i></div>
                                                </div>
                                                <div class="content">
                                                    {{t.idTrama}}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui segment">
                                        <h1 class="ui header titTramaDef">
                                            Entramado
                                        </h1>
                                        <div class="content" style="height:650px;">
                                            <div class="ui list visual_trama">
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui modal">
        <div class="header">Guardado de TRAMA</div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Titulo de la TRAMA</label>
                    <input id="IDTrama" type="text">
                </div>
                <div class="ui error hidden message">
                    <div class="header">Trama ya guardada</div>
                    <p>el Nombre ya existe en la DB.</p>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve disabled button">Guardar</div>
            <div class="ui cancel button">Cancelar</div>
        </div>
    </div>

</body>
</html>