.anonymous {
    height: 65px;
    width: 65px;
    margin-top: -7px;
    margin-left: 10px;
}

input {
    width: 400px;
}

.negrilla {
    font-weight: bolder
}

.nota {
    color: red
}

.hidden {
    display: none !important;
}

iframe {
    width: 100%;
    height: 600px;
}

.extra.content .ui.large.transparent {
    padding-top: 2px;
    padding-bottom: 5px;
}

textarea {
    resize: none;
}

#RelationsCard {
    width: 100%
}

.green {
    color: green
}

.red {
    color: red
}

.blue {
    color: blue
}

.ui.card.hide {
    display: none
}

.hide {
    display: none
}

.highlight {
    font-weight: bold;
    color: red
}

.highlightgreen {
    font-weight: bold;
    color: green
}

.info {
    margin-left: calc(100% - 600px);
    margin-top: -25px;
    white-space: nowrap;
    float: right;
    font-size: 0.8em;
    color: burlywood;
}

    .info:hover {
        color: saddlebrown;
    }

.ui.tabular.menu > .disabled.item {
    opacity: 0.45 !important;
}

.ui.horizontal.divider.header {
    margin: 0px !important;
    color: black !important;
}

.disabled {
    cursor: not-allowed !important;
}

.ui.segment {
    background-color: rgba(234, 204, 55, 0.15);
}

.ui.middle.aligned.divided.list .item {
    background-color: white;
    padding-left: 20px;
}

.ui.button.DOCButton {
    margin-top: 10px;
    min-width: 200px;
}

.ui.segment.BOE {
    background-color: #fffde9
}

.ui.bottom.attached.tab.segment {
    height: calc(100% - 40px) !important;
    overflow: auto;
}

#relations {
    width: 100%;
    height: 100%;
}

#lst-VisualCif {
    width: 400px;
    position: absolute;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 99999;
    min-height: 100px;
}

    #lst-VisualCif .item:hover {
        background-color: burlywood;
        cursor: pointer;
    }

svg {
    width: 650px;
    height: 650px;
}

.node {
    cursor: pointer;
    fill: #fff;
    stroke: #000;
    stroke-width: 2px
}

.company {
    fill: #f2b634
}

.person {
    fill: #01caff
}

.juridic {
    fill: #f1992b
}

.link {
    stroke: #111;
    stroke-width: 3px;
    fill: none
}

.nodetext {
    font-size: .65em !important;
    cursor: pointer !important;
    stroke-width: .01px !important;
    fill: #111 !important
}

.nopointer {
    cursor: default
}

.nodenumrelstext {
    font-family: 'Open Sans';
    font-size: .7em;
    cursor: pointer;
    stroke-width: .01px;
    fill: #fff
}

.nodenumrelsback {
    fill: #ff5600;
    stroke: #c44200;
    stroke-width: 2px
}

.fixed {
    stroke-width: 6px;
    stroke: #454545
}

.inactivelink {
    stroke-width: 1px;
    stroke: #444;
    stroke-dasharray: 5,5
}

.button {
    stroke: #ddd;
    stroke-width: 2px;
    fill: transparent;
    cursor: pointer
}

.buttontext {
    fill: #3e77ac;
    cursor: pointer;
    font-size: 10px
}

#graph_container {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 700px
}

#relations {
    border: 1px solid #eee;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    cursor: default
}

.fullscreen {
    z-index: 1000;
    background-color: #fff
}

#ui #topright, #ui #topleft, #ui #bottomleft, #ui #bottomright {
    display: block;
    position: absolute;
    padding: 5px 3px;
    z-index: 1001
}

#ui #topright {
    top: 0;
    right: 0
}

#ui #topleft {
    top: 0;
    left: 0
}

#ui #bottomleft {
    bottom: 0;
    left: 0
}

#ui #bottomright {
    bottom: 0;
    right: 0
}

.fullscreen #ui #bottomleft, .fullscreen #ui #bottomright {
    bottom: 45px
}

#ui {
    color: #999
}

    #ui .disabled {
        color: #ddd;
        cursor: default;
        text-decoration: none
    }

    #ui h1 {
        margin: 0 5px 5px 5px;
        font-size: 1.7em;
        font-weight: 700;
        color: #444
    }

    #ui h2 {
        margin: 0 0 10px 0;
        font-size: 1.4em
    }

    #ui .overlay {
        background-color: rgba(255,255,255,.9);
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 2px;
        font-size: .8em
    }

    #ui #help {
        display: none;
        margin: 10px 5px;
        width: 260px
    }

    #ui #showhelp {
        margin-left: 7px
    }

    #ui #closehelp {
        float: right;
        cursor: pointer
    }

    #ui #help svg {
        height: 150px
    }

    #ui #help ul {
        padding-left: 15px
    }

    #ui #help li {
        margin: 0 0 2px 0
    }

    #ui #uilargeoptions {
        display: none;
        margin: 35px 2px 0 0;
        width: 250px
    }

        #ui #uilargeoptions p {
            margin: 10px 0
        }

        #ui #uilargeoptions .glyphicon {
            margin-right: 10px
        }

    #ui #uierror {
        margin: 0 0 10px 10px
    }

    #ui .grapherror {
        color: #db3c00;
        font-size: .8em;
        margin: 0
    }

    #ui a {
        cursor: pointer
    }

    #ui #permalinkbox {
        display: none
    }

        #ui #permalinkbox input {
            width: 200px
        }

    #ui #linkroles {
        margin: 0 0 10px 10px;
        font-size: .8em
    }

.spinTree {
    width: 100%;
    float: right;
    font-size: 0.8em;
    color:dimgrey
}
.spinTree_a {
    padding-right: 5px;
}
